html {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.header-wrapper {
  height: 100vh;
  width: 100%;
  background-image: url("./images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.column {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  height: 10%;
  width: 100%;
  background-color: RGBA(245, 215, 157, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inline {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 30px;
  font-family: "Knewave", cursive;
  font-size: 2.2em;
  color: #174652;
}

.admin {
  padding-right: 30px;
}

.none {
  padding-right: 20px;
}

a {
  color: #f4f4f4;
  text-decoration: none;
  font-weight: 600;
}

.header-body {
  height: 90%;
}

.header-text {
  padding-top: 25vh;
  color: #f4f4f4;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 1px 1px #f5d79d;
  text-align: center;
}

.header-btn {
  display: flex;
  margin: auto;
}

.btn {
  padding: 20px 50px;
  color: #f4f4f4;
  margin: 5px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: RGBA(23, 70, 82, 0.8);
  transition: 0.4s all ease;
}

.btn:hover {
  background-color: RGBA(23, 70, 82, 0.5);
}

.title {
  font-family: "Knewave", cursive;
  font-size: 1.6em;
  color: #174652;
}

.schedule-btn {
  width: 150px;
  height: 50px;
  background-color: #d5b981;
  color: #ffffff;
  font-weight: bold;
  border: none;
  transition: 0.5s all ease;
  cursor: pointer;
}

.schedule-btn:hover {
  opacity: 0.5;
}

.schedule-date {
  display: flex;
  justify-content: space-between;
}

.styles_gridItem__nPXhF figure > div > img {
  opacity: 0.9 !important;
}

@media only screen and (max-width: 600px) {
  .none {
    display: none;
  }
  .header-text {
    font-size: 30px;
  }
  .btn {
    padding: 15px 25px;
  }
}
